@keyframes fon {
    0%,
    100% {

        background-image: url("../img/1_9.jpg ");
    }
    25% {

        background-image: url("../img/flower.jpg ");
    }
    50% {

        background-image: url("../img/sad-kaktusov.jpg");
    }
    75% {

        background-image: url("../img/1_2.jpg ");
    }


}


.picture_1{
    position: relative;
    width: 100%;
    height: 370px;
    background:fixed url("../img/1_1.jpg") 0%/cover no-repeat;
    animation: fon 30s infinite;
}
