body {
  font-family: 'Playfair Display', serif;
   margin: 0;
   text-align: center;
  }
h1 {
  font-weight: normal;
  color: #6A5953;
  text-align: center;
}
kbd {
  font-size: 1.1em;
  display:inline-block;
  line-height:1.1;
color:white;
top:120px;
position:absolute;
left:5px;
text-align: center;}
.card__text{
  text-align: center;
}
.wrap {
  display: inline-block;
  margin: 0 40px 2em 0;
  background: rgba(228, 225, 228, .5);
  }
.box_gl {  
    display: inline-block;
  width:300px;
  height: 166px;
  line-height: 100px;
  margin: 0 auto;
   transition: all 0.5s ease-in-out;
  border-radius: 20px;
  box-sizing: border-box;
}
.one{     position:relative;
    background:url("../img/Pereskia aculeata.jpg") 50%/cover no-repeat; 
    }
 .two{     position:relative;
    background:url("../img/Pereskia_stenantha_F.Ritter.jpg") 50%/cover no-repeat; 
   }
 .three{    position:relative;
  background:url("../img/Pereskia_grandifolia.jpg") 50%/cover no-repeat;
 }
 
.four{     position:relative;
 background:url("../img/pereskia_bleo.jpg") 50%/cover no-repeat; 
}
.five{    position:relative;
    background:url("../img/Pereskia_zinniiflora.jpg") 50%/cover no-repeat;
    display: inline-block;
   ;}
.six{    position:relative;
  background: url("../img/pereskia_lychnidiflora.jpg") 50%/cover no-repeat;;
  }
   
.seven{ 
  position:relative;
 background:url("../img/pereskia_marcanoi.jpg") 50%/cover no-repeat; 
 }

.eight{
  position:relative;
    background:url("../img/pereskia_diaz.jpg") 50%/cover no-repeat;
   }
.nine{
  position:relative;
  background: url("../img/pereskia_weberiana.jpg") 50%/cover no-repeat;;
  }
.ten{ 
  position:relative;
 background:url("../img/Pereskia sacharosa.jpg") 50%/cover no-repeat; 
;}
.eleven {
    background:url("../img/Pereskia_guamacho.jpg") 50%/cover no-repeat;
    }
.one:hover, .one_O:hover, .one_M:hover, .one_C:hover {
   transform: translateX(20px);
   }

.two:hover, .two_O:hover, .two_M:hover, .two_C:hover {
  position:relative;
  transform: translateY(-20px);
  }

.three:hover, .three_O:hover, .three_M:hover, .three_C:hover {
  position:relative;
   transform: translate(-20px, 20px);
   display: inline-block;
 }
.four:hover,.four_O:hover,.four_M:hover,.four_C:hover{
  position:relative;
    transform: scaleX(-1);
   }
.five:hover,.five_O:hover,.five_M:hover,.five_C:hover {
  position:relative;
    transform: scaleY(1.4);
   }
.six:hover,.six_O:hover,.six_M:hover,.six_C:hover {
  position:relative;
   transform: scale(1.2, 0.5);
   }
.seven:hover,.seven_O:hover,.seven_M:hover,.seven_C:hover {
  position:relative;
   transform: rotate(720deg);
   }
.eight:hover,.eight_O:hover, .eight_M:hover, .eight_C:hover {
  position:relative;
   transform: skewX(20deg);
  }
  .nine:hover,.nine_O:hover,.nine_M:hover,.nine_C:hover{
  position:relative;
  transform: skewY(-20deg);
  }
.ten:hover,.ten_O:hover,.ten_M:hover,.ten_C:hover {  
  position:relative;
  transform: skew(-20deg, 20deg);
  }
.eleven:hover,.eleven_O:hover,.eleven_M:hover,.eleven_C:hover {
  position:relative;
  transform: matrix(1.2,0,0.5,1.2,50,0);
 }
 .one_O{     position:relative;
  background:url("../img/Austrocylindropuntia.jpg") 0%/cover no-repeat; 
  }
.two_O{     position:relative;
  background:url("../img/Cumulopuntia.jpg") 50%/cover no-repeat; 
 }
.three_O{    position:relative;
background:url("../img/Cumulopuntia_boliviana.jpg") 50%/cover no-repeat;
}

.four_O{     position:relative;
background:url("../img/Cumulopuntia_boliviana_fl.jpg") 50%/cover no-repeat; 
}
.five_O{    position:relative;
  background:url("../img/Cylindropuntia fulgida.jpg") 50%/cover no-repeat;
  display: inline-block;
 ;}
.six_O{    position:relative;
background: url("../img/Grusonia_bradtiana.jpg") 50%/cover no-repeat;;
}
 
.seven_O{ 
position:relative;
background:url("../img/Grusonia_parishii.jpg") 50%/cover no-repeat; 
}

.eight_O{
position:relative;
  background:url("../img/Miqueliopuntia_miquelii.jpg") 50%/cover no-repeat;
 }
.nine_O{
position:relative;
background: url("../img/opuntia_ignescens.jpg") 50%/cover no-repeat;;
}
.ten_O{ 
position:relative;
background:url("../img/opuntsyiya.jpg") 50%/cover no-repeat; 
;}
.eleven_O {
  background:url("../img/Puna_subterranea.jpg") 50%/cover no-repeat;
  }
  .one_M{     position:relative;
    background:url("../img/Maihuenia-poeppigii (1).jpg") 0%/cover no-repeat; 
    }
  .two_M{     position:relative;
    background:url("../img/Maihuenia poeppigii _3.jpg") 50%/cover no-repeat; 
   }
  .three_M{    position:relative;
  background:url("../img/maihuenia.jpg") 50%/cover no-repeat;
  }
  
  .four_M{     position:relative;
  background:url("../img/Maihuenia_patagonica_Burzak.jpg") 50%/cover no-repeat; 
  }
  .five_M{    position:relative;
    background:url("../img/Maihuenia_poeppigii_.jpg") 50%/cover no-repeat;
    display: inline-block;
   ;}
  .six_M{    position:relative;
  background: url("../img/Maihuenia-patagonica_2.jpg") 50%/cover no-repeat;;
  }
   
  .seven_M{ 
  position:relative;
  background:url("../img/Maihueniopsis_darwinii.jpg") 50%/cover no-repeat; 
  }
  
  .eight_M{
  position:relative;
    background:url("../img/Maihueniopsis_darwinii_1.jpg") 50%/cover no-repeat;
   }
  .nine_M{
  position:relative;
  background: url("../img/Myrtillocactus cochal.jpg") 50%/cover no-repeat;;
  }
  .ten_M{ 
  position:relative;
  background:url("../img/Майхуения валентина (Maihuenia valentinii).jpg") 50%/cover no-repeat; 
  ;}
  .eleven_M {
    background:url("../img/Майхуения валентина (Maihuenia valentinii)_fl.jpg") 50%/cover no-repeat;
    }
    .one_C{     position:relative;
      background:url("../img/Эхино́псис_Echinópsis.jpg") 0%/cover no-repeat; 
      }
    .two_C{     position:relative;
      background:url("../img/ZygocactusTruncatus.jpg") 50%/cover no-repeat; 
     }
    .three_C{    position:relative;
    background:url("../img/Weberbauerocereus_rauhii.jpg") 50%/cover no-repeat;
    }    
    .four_C{    
       position:relative;
    background:url("../img/Weberbauerocereus_albus.jpg") 50%/cover no-repeat; 
    }
    .five_C{    position:relative;
      background:url("../img/Rhipsalis_pilocarpa.jpg") 50%/cover no-repeat;
      display: inline-block;
     ;}
    .six_C{    position:relative;
    background: url("../img/Rebutia_minuscula.jpg") 50%/cover no-repeat;;
    }
     
    .seven_C{ 
    position:relative;
    background:url("../img/Lepismium.jpg") 50%/cover no-repeat; 
    }
    
    .eight_C{
    position:relative;
      background:url("../img/Acanthocereus_pentagonus.jpg") 50%/cover no-repeat;
     }
    .nine_C{
    position:relative;
    background: url("../img/Cactoideae_1.jpg") 50%/cover no-repeat;;
    }
    .ten_C{ 
    position:relative;
    background:url("../img/Echinocereus_enneacanthus.jpg") 50%/cover no-repeat; 
    ;}
    .eleven_C {
      background:url("../img/cactus-aztekium.jpg") 50%/cover no-repeat;
      }
 